:root {
  --primary-color: #0D5C63;
  --secondary-color: #44A1A0;
  --tertiary-color: #247B7B;
  --light-color: #FFFFFA;
  --dark-color: #343a40;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color: var(--dark-color);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

main {
  flex: 1;
  padding: 1rem;
}

footer {
  flex-shrink: 0;
}

.centered {
  text-align: center;
}

.container {
  border: 1px solid #0f0e0e;
  background-color: var(--tertiary-color);
  border-radius: 16px;
}

.stars {
  justify-content: left;
  display: flex;
  flex-direction: row-reverse;
}

.stars > label {
  color: gold;
  width: 30px;
  height: 30px;
  font-size: 2rem;
  margin-left: 5px;
  display: flex;
  align-items: center;
  caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor */
}

.stars > label:hover {
  color: #000;
}

.stars > label::before {
  content: "\2606";
}

.stars input:checked ~ label::before {
  content: "\2605";
}

.control {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.control select,
input[type="text"],
input[type="date"],
input[type="password"],
input[type="number"] {
  padding: 1.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form input[type="submit"] {
  color: var(--light-color);
  background-color: var(--secondary-color);
  padding: 1rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form {
  padding: 1rem;
}

#post-review:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.required label::after {
  content: " *";
  color: var(--dark-color);
}
