/* General Styles */
body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}



form {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type=text], input[type=date], textarea, select {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Stars Rating */
.stars {
    display: flex;
}

.stars input[type="radio"] {
    display: none;
}

.stars label {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
}

.stars label:hover,
.stars label:hover ~ label,
.stars input:checked ~ label {
    color: #ffbf00;
}

/* Footer Styles */
footer {
    background-color: #161925;
    color: #fdfffc;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}
